@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;}

a{
    text-decoration: none;
    color: white;}

a:hover{
    text-decoration: underline;}

/*Header*/
header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0px;}

header h1{
    font-family: 'Passion One', sans-serif;
    font-size: 10vw;
    font-weight: lighter;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 5px;}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;}



/*Main*/
main section{
    display: block;
    width: 45vw;
    margin: 75px 0px 75px 30px;
    padding: 0px 5px;}

.imagem{
    margin: 200px 0px 200px 30px;
    background-color: rgba(0, 0, 0, 0.108);}

main p{
    font-family: 'Sriracha', cursive;
    font-size: 2vw;
    line-height: 2em;}



/*Footer*/
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px;}
footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;}

